/* bootstrap plugin extend */
.container {
    @media (min-width: 768px) {
        max-width: 100%;

        .container {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    @media (min-width: 992px) {
        max-width: 100%;
    }

    @media (min-width: 1232px) {
        max-width: 1232px;
    }
}

.btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}

.title-text {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

@media (min-width: 769px) {
    .flex-row {
        display: flex;
        align-items: center;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.product-page-header {
    position: relative;
    text-align:center;
    & .product-page-text{
        @include position(absolute, 30%, 0, 0, 0);
        margin: auto;
        & h1{
            font-family: "FuturaHeavy",sans-serif;
            color: #fff;
            @include font-size(60px);   
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        & span{
            font-family: "Futura-T-OT-Book",sans-serif;
            color: #fff;
            @include font-size(30px);
        }
    }
    &::after {
        @include position(absolute, $bottom:0,$left:0,$right:0);
        background-image: url("../images/slider/shadow.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 34%;
        width: 100%;
        content: "";
        display: block;
    }
}