/* custom input section */
.form-control {
    background: none;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.17);
    border-radius: 0;
    padding: 0 20px;
    height: 45px;

}


.custom-control {
    position: relative;

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0;
        visibility: hidden;
        position: absolute;
        display:none;
    }
}

.custom-control {
    .radio-label {
        padding-left: 30px;
        line-height: 22px;
        margin-top: -2px;
        width: 100%;
        cursor: pointer;
    }
}

/* checkbox */
.check-label {
    cursor: pointer;
}



.custom-checkbox + .check-label:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $red;
    @include transition(all 0.3s ease-in-out);
    opacity: 0;
    visibility: hidden;
    z-index: -9;
}

/* color checkbox */
.custom-checkbox.color-checkbox + .check-label:before {
    width: 18px;
    height: 18px;
    border: none;
}

.custom-checkbox.color-checkbox + .check-label:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 6px;
    background: transparent;
    left: 4px;
    top: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    @include transition(all 0.3s ease-in-out);
    opacity: 0;
    visibility: hidden;
}